<!DOCTYPE html>
<html>
  <head>
    <title>MerkleMoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.mm_logo = "<%= image_url('mm_logo.png')%>"
      window.tree = "<%= image_url('merkle_tree.jpg')%>"
      window.linkedin = "<%= image_url('linkedin.jpg')%>"
      window.github = "<%= image_url('github.png')%>"
      window.angelco = "<%= image_url('angel.png')%>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
